<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>R-RECs Asset Management Hub</title>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

	<!-- SEO Description -->
	<meta name="author" content="Renewvia Energy Technology">
	<meta name="description" content="Pioneering the future of sustainable energy, R-RECs is committed to driving decarbonization with minimal environmental impact.">
	<link rel="canonical" href="https://www.r-recs.com/account.html">
	<meta name="robots" content="noindex">

	<!-- Open Graph Tags -->
	<meta property="og:title" content="R-RECs Asset Management Hub">
	<meta property="og:description" content="Pioneering the future of sustainable energy, R-RECs is committed to driving decarbonization with minimal environmental impact.">
	<meta property="og:image" content="https://www.r-recs.com/logo.png">
	<meta property="og:image:width" content="711">
	<meta property="og:image:height" content="711">
	<meta property="og:image:alt" content="R-RECs Logo">
	<meta property="og:url" content="https://www.r-recs.com/account.html">
	<meta property="og:type" content="website">

	<!-- Favicon -->
	<link rel="icon" href="./favicon.ico" type="image/x-icon">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<!-- Icons -->
	<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

	<!-- Custom CSS -->
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="account.css">

	<!-- JavaScript -->
	<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  
	<div id="app">
		<header class="header">
			<img src="images/logo-titled.png" alt="R-RECs Logo">
			<nav>
				<input class="menu-btn" type="checkbox" id="menu-btn">
				<label class="menu-icon" for="menu-btn" tabindex="0"><span class="navicon"></span></label>
				<ul class="menu">
					<li><a target="_blank" href="index.html" class="headerButton">What are R-RECs</a></li>
					<li><a rel="external" target="_blank" href="https://www.renewvia.com/" class="headerButton">Visit Renewvia</a></li>
					<li><a href="The R-REC Standard.pdf" download target="_blank" class="headerButton">Read the Standard</a></li>
					<li><a href="mailto:recs@renewvia.com" class="headerButton">Contact</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<!-- Basic Profile Info: Logo, Name, Wallet Address, and Join Date  -->
			<section id="profile-info">
				<div class="logo-container">
					<img :src="logo" alt="Company Logo">
				</div>
				<div class="profile-info-right">
					<div class="company-name">{{ name }}</div>
					<div class="company-technical">
						<p>Account Id: <a class="address" rel="external" target="_blank" :href="`https://bscscan.com/address/${address}`">{{ smallAddress }}</a></p>
						<div class="date">Joined {{ join_date }}</div>
					</div>
				</div>
				<div class="transaction-buttons">
					<a class="retire" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Ydc7R_ArakyrYud4pmPU-t4U5WxHzZBLmCpkuvMSmgpUOEtEUTRGS1ZaV09CTDM1VjlMOVJTNFpOWi4u">Retire Current Credits</a>
					<a class="credits" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Ydc7R_ArakyrYud4pmPU-t4U5WxHzZBLmCpkuvMSmgpUOEtEUTRGS1ZaV09CTDM1VjlMOVJTNFpOWi4u">Mark Credits for sale</a>
					<a class="purchase" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Ydc7R_ArakyrYud4pmPU-t4U5WxHzZBLmCpkuvMSmgpUOEtEUTRGS1ZaV09CTDM1VjlMOVJTNFpOWi4u">Purchase New Credits</a>
				</div>
			</section>
			<!-- End Basic Profile Info -->
			
			<!-- Impact Popover -->
			<div popover id="impactPopover" class="impactPopover">
				<div class="my-impact">
					<div class="widget-title">
						<h2>My Impact</h2>
					</div>
					<div class="impact-body">
						<div class="stats">
							<div class="stats-left">
								<div class="statistic">
									<div class="texts">
										<p>Approximate amount of carbon offset: </p>
									</div>
									<div class="stat">
										<p>{{ totalEstimatedCarbonOffsets.toLocaleString() }} tCO2e</p>
									</div>
								</div>
								<div class="statistic">
									<div class="texts">
										<p>Total amount of renewable energy generation: </p>
									</div>
									<div class="stat">
										<p>{{ totalRenewableEnergy.toLocaleString() }} MWh</p>
									</div>
								</div>
							</div>
							<div class="stats-right">
								<div class="statistic">
									<div class="texts">
										<p>Asset with most generation: </p>
									</div>
									<div class="stat">
										<p>Virginia</p>
									</div>
								</div>
								<div class="statistic">
									<div class="texts">
										<p>Asset with least generation: </p>
									</div>
									<div class="stat">
										<p>Alabama</p>
									</div>
								</div>
							</div>
						</div>
						<div id="line-chart">
							<canvas ref="lineChart" class="impact-line-chart"></canvas>
						</div>
					</div>
					<div class="expand-container">
						<button class="expand-button" popovertarget="impactPopover">
							<div class="expand-text">
								<p>Close</p>
							</div>
						</button>
					</div>
				</div>
			</div>
			<!-- End of Impact Popover -->

			<!-- Activity Popover -->
			<div popover id="activityPopover" class="activityPopover">
				activity test
			</div>
			<!-- End of Activity Popover -->

			<!-- Carbon Popover -->
			<div popover id="carbonPopover" class="carbonPopover">
				carbon test
			</div>
			<!-- End of carbon Popover -->

			<!-- Portfolio Popover -->
			<div popover id="portfolioPopover" class="portfolioPopover">
				<div class="portfolio" v-if="assets && assets.length > 0">
					<div class="widget-title">
						<h2>Portfolio Distribution</h2>
					</div>
					<div id="pie-chart" class="pie-chart">
						<div>
							<canvas ref="myChart"></canvas>
						</div>
						<ul class="key">
							<li v-for="asset in assets" :key="asset.id">
								<strong class="percent gray">{{ calculatePercentage(asset.amount) }}%</strong>
								<span class="choice">{{ asset.name+'s' }}</span>
							</li>
						</ul>
					</div>
					<div class="expand-container">
						<button class="expand-button" popovertarget="portfolioPopover">
							<div class="expand-text">
								<p>Expand</p>
							</div>
							<div class="expand-icon">
								<i class="fa-solid fa-up-right-and-down-left-from-center"></i>
							</div>
						</button>
					</div>
				</div>
			</div>
			<!-- End of Portfolio Popover -->

			<!-- Progress Popover -->
			<div popover id="progressPopover" class="progressPopover">
				progress test
			</div>
			<!-- End of Progress Popover -->

			<!-- Start of Widget Grid -->
			<div class="grid-container">
				<div class="grid-item">
					<!-- My Impact -->
						<div class="my-impact">
							<div class="widget-title">
								<h2>My Impact</h2>
							</div>
							<div class="impact-body">
								<div class="stats">
									<div class="stats-left">
										<div class="statistic">
											<div class="texts">
												<p>Approximate amount of carbon offset: </p>
											</div>
											<div class="stat">
												<p>{{ totalEstimatedCarbonOffsets.toLocaleString() }} tCO2e</p>
											</div>
										</div>
										<div class="statistic">
											<div class="texts">
												<p>Total amount of renewable energy generation: </p>
											</div>
											<div class="stat">
												<p>{{ totalRenewableEnergy.toLocaleString() }} MWh</p>
											</div>
										</div>
									</div>
									<div class="stats-right">
										<div class="statistic">
											<div class="texts">
												<p>Asset with most generation: </p>
											</div>
											<div class="stat">
												<p>Virginia</p>
											</div>
										</div>
										<div class="statistic">
											<div class="texts">
												<p>Asset with least generation: </p>
											</div>
											<div class="stat">
												<p>Alabama</p>
											</div>
										</div>
									</div>
								</div>
								<div id="line-chart">
									<canvas ref="lineChart" class="impact-line-chart"></canvas>
								</div>
							</div>
							<div class="expand-container">
								<button class="expand-button" popovertarget="impactPopover">
									<div class="expand-text">
										<p>Expand</p>
									</div>
									<div class="expand-icon">
										<i class="fa-solid fa-up-right-and-down-left-from-center"></i>
									</div>
								</button>
							</div>
						</div>
					<!-- end impact section -->
				</div>
				<div class="grid-item">
					<!-- Carbon Assets -->
					<div class="carbon" v-if="assets && assets.length > 0">
						<div class="widget-title">
							<h2>Your Carbon Assets</h2>
						</div>
						<div class="carbon-content">
							<div class="carbon-scrolldiv">
								<div class="assets" v-for="asset in assets" :key="asset.id">
									<details>
										<summary>
											<span class="name">{{ asset.name }}</span>
											<span class="qty">{{ asset.amount }}</span>
											<span class="more">More...</span>
										</summary>
										<div class="more-details">
											<span class="image"><img
													:src="asset.img"
													:alt="Image"></span>
											<span class="details">
												<p>{{ asset.description}}</p>
											</span>
										</div>
									</details>
								</div>
							</div>
						</div>
						<div class="expand-container">
							<button class="expand-button" popovertarget="carbonPopover">
								<div class="expand-text">
									<p>Expand</p>
								</div>
								<div class="expand-icon">
									<i class="fa-solid fa-up-right-and-down-left-from-center"></i>
								</div>
							</button>
						</div>
					</div>
				</div>
				<div class="grid-item">
					<!-- Activity -->
					<div class="activity">
						<div class="widget-title">
							<h2>Activity</h2>
						</div>
						<div class="activity-stats">
							<div class="activity-statistic">
								<div class="activity-texts">
									<p>Total Generation: </p>
								</div>
								<div class="activity-stat">
									<p>5000</p>
								</div>
							</div>
							<div class="activity-statistic">
								<div class="activity-texts">
									<p>Amount Purchased: </p>
								</div>
								<div class="activity-stat">
									<p>3000</p>
								</div>
							</div>
							<div class="activity-statistic">
								<div class="activity-texts">
									<p>Total Retired: </p>
								</div>
								<div class="activity-stat">
									<p>3000</p>
								</div>
							</div>
						</div>
						<div class="table-container">
							<div class="scrolldiv">
								<table>
									<thead>
										<tr>
											<th>Date</th>
											<th>Asset</th>
											<th>Action</th>
											<th>Amount</th>
											<th>Status</th>
										</tr>
									</thead>
		
									<tbody>
										<tr class="assets" v-for="trans in activity" :key="trans.address">
											<td>{{trans.date}}</td>
											<td>{{trans.name}}</td>
											<td>{{trans.action}}</td>
											<td>{{trans.amount}}</td>
											<td><a class="verified-btn" target="_blank" rel="external" :href="`https://bscscan.com/tx/${trans.hash}`">Verified</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="expand-container">
							<button class="expand-button" popovertarget="activityPopover">
								<div class="expand-text">
									<p>Expand</p>
								</div>
								<div class="expand-icon">
									<i class="fa-solid fa-up-right-and-down-left-from-center"></i>
								</div>
							</button>
						</div>
					</div>
				</div>
				<div class="grid-item">
					<!-- Portfolio Distribution -->
					<div class="portfolio" v-if="assets && assets.length > 0">
						<div class="widget-title">
							<h2>Portfolio Distribution</h2>
						</div>
						<div id="pie-chart" class="pie-chart">
							<div>
								<canvas ref="myChart"></canvas>
							</div>
							<ul class="key">
								<li v-for="asset in assets" :key="asset.id">
									<strong class="percent gray">{{ calculatePercentage(asset.amount) }}%</strong>
									<span class="choice">{{ asset.name+'s' }}</span>
								</li>
							</ul>
						</div>
						<div class="expand-container">
							<button class="expand-button" popovertarget="portfolioPopover">
								<div class="expand-text">
									<p>Expand</p>
								</div>
								<div class="expand-icon">
									<i class="fa-solid fa-up-right-and-down-left-from-center"></i>
								</div>
							</button>
						</div>
					</div>
				</div>
				<div class="grid-item">
					<!-- Progress -->
					<div class="progress" v-if="carbon_goal">
						<div class="widget-title">
							<h2>Progress Toward Your Carbon Goal</h2>
						</div>
						<div class="center-contents">
							<div class="goal-progress">
								<div class="outer center-contents">
									<div class="inner"></div>
									<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%">
										<circle id="total-carbon" class="total" cx="50%" cy="50%" r="42.5%" stroke-linecap="round" />
										<circle id="retired-carbon" class="retired" cx="50%" cy="50%" r="42.5%" stroke-linecap="round" />
									</svg>
								</div>
							</div>
							<ul class="key">
								<li><div class="label retired"></div>Credits Retired</li>
								<li><div class="label total"></div>Credits Owned</li>
								<li><div class="label remaining"></div>Credits Remaining</li>
							</ul>
						</div>
						<p class="goal-instructions">{{instructionsToAchieveCarbonGoal}}</p>
						<div class="expand-container">
							<button class="expand-button" popovertarget="progressPopover">
								<div class="expand-text">
									<p>Expand</p>
								</div>
								<div class="expand-icon">
									<i class="fa-solid fa-up-right-and-down-left-from-center"></i>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Widget Grid -->
		</main>
	</div>

	<script src="account.js"></script>
</body>

</html>